.autres-services {
	position: relative;
	z-index: 1;
	@media screen and (min-width: $phone-size) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	&__link {
		color: white;
		display: block;
		&:hover {
			color: white;
		}
	}
	&__image {
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		pointer-events: none;
		&::after {
			content: "";
			background-color: black;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.1;
			transition: opacity 0.3s;
		}
		&:hover::after {
			opacity: 0.3;
		}
	}

	&__image-conseil {
		background: url(./public/img/footer-link-conseil-mobile.jpg) center center
			no-repeat;
		background-size: cover;
		@media screen and (min-width: $laptop-size) {
			background: url(./public/img/footer-link-conseil.jpg) center center
				no-repeat;
			background-size: cover;
		}
	}
	&__image-informatique {
		background: url(./public/img/footer-link-informatique-mobile.jpg) center
			center no-repeat;
		background-size: cover;
		@media screen and (min-width: $laptop-size) {
			background: url(./public/img/footer-link-informatique.jpg) center center
				no-repeat;
			background-size: cover;
		}
	}
	&__image-tierspayant {
		background: url(./public/img/footer-link-tierspayant-mobile.jpg) center
			center no-repeat;
		background-size: cover;
		@media screen and (min-width: $laptop-size) {
			background: url(./public/img/footer-link-tierspayant.jpg) center center
				no-repeat;
			background-size: cover;
		}
	}

	&__text-container {
		width: 100%;
		padding: 25% 30px;
		position: relative;
		z-index: 1;
		@media screen and (min-width: $laptop-size) {
			padding: 23% 15% calc(23% + 50px);
		}
	}
	&__decouvrez {
		font-weight: $weight-bold;
		text-transform: uppercase;
		font-size: 1.3rem;
		margin: 0;
	}
	&__title {
		margin: 0;
	}
	&__item {
		@media screen and (min-width: $laptop-size) {
			position: relative;
			&::after {
				content: "";
				width: 38px;
				height: 72px;
				background: url(./public/img/arrow-right.svg) center center no-repeat;
				background-size: 38px 72px;
				position: absolute;
				top: calc(50% - 60px);
				right: calc(10% + 30px);
				transition: 0.25s ease-in-out;
				opacity: 0;
			}
			&:hover::after {
				opacity: 1;
				transform: translateX(30px);
			}

			&:hover {
				.autres-services__image::after {
					opacity: 0.3;
				}
			}
		}
	}
}
