.expertise {
	padding: 15rem 0;
	@media screen and (min-width: $site-size) {
		padding: 20rem 0;
	}

	&__wrap {
		width: 100%;
		max-width: $site-size;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	&__title {
		font-size: 2.5rem;
		margin-bottom: 7rem;
		@media screen and (min-width: $phone-size) {
			font-size: 3.5rem;
		}
		@media screen and (min-width: $laptop-size) {
			font-size: 6.5rem;
			margin: 0;
		}
		@media screen and (min-width: $site-size) {
			font-size: 7.5rem;
		}
	}

	&__list {
		padding: 0 0 5rem;
		@media screen and (min-width: $phone-size) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: start;
			padding: 5% 0;
		}
		@media screen and (min-width: $laptop-size) {
			grid-template-columns: repeat(4, 1fr);
			padding: 7% 0;
		}
		@media screen and (min-width: $site-size) {
			column-gap: 60px;
		}
	}

	&__item {
		margin: 0 0 7rem 0;
		padding: 0 20px;
		&:last-child {
			margin: 0;
		}
		@media screen and (min-width: $laptop-size) {
			margin: 0;
		}
	}

	&__item-title {
		font-size: 2rem;
		font-weight: $weight-bold;
		margin: 2rem 0;
		line-height: 1.2;
	}

	&__item-text {
		font-size: 1.6rem;
	}
}
