.services-iveos {
	padding: 10rem 0;
	background-color: white;
	overflow: hidden;
	@media screen and (min-width: $laptop-size) {
		padding: 15rem 0;
	}

	&__item {
		margin-bottom: 10rem;
		&:last-child {
			margin-bottom: 0;
		}
		@media screen and (min-width: $phone-size) {
			display: flex;
		}
	}

	&__image-container {
		position: relative;
		padding-left: 32px;
		@media screen and (min-width: $phone-size) {
			width: 50%;
		}
		img {
			position: relative;
			@media screen and (min-width: $phone-size) {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		@media screen and (min-width: $laptop-size) {
			width: 40%;
			margin-right: 5%;
			padding-left: 100px;
		}
	}

	&__title {
		position: absolute;
		width: 100%;
		text-align: right;
		top: 0;
		left: -100%;
		transform: rotate(-90deg);
		transform-origin: top right;
		line-height: 1;
		font-size: 2.5rem;
		@media screen and (min-width: $laptop-size) {
			font-size: 4rem;
			transform: rotate(-90deg) translateY(55px);
		}
		@media screen and (min-width: $site-size) {
			font-size: 5rem;
			transform: rotate(-90deg) translateY(40px);
		}
	}

	&__title-rappel {
		font-size: 1.3rem;
		font-weight: $weight-bold;
		color: #ccc;
	}

	&__text-container {
		margin-top: 5rem;
		position: relative;
		@media screen and (min-width: $phone-size) {
			width: 50%;
			padding: 0 5rem;
		}
		@media screen and (min-width: $laptop-size) {
			width: 40%;
			padding: 0 5%;
			margin-top: 0;
		}
	}

	&__bloc-1 {
		width: calc(100% - 32px);
		height: 90%;
		bottom: -15px;
		right: -15px;
		@media screen and (min-width: $laptop-size) {
			width: calc(100% - 100px);
			bottom: -30px;
			right: -30px;
		}
	}
	&__bloc-2 {
		width: 110%;
		height: 90%;
		bottom: -20px;
		left: 32px;
		@media screen and (min-width: $laptop-size) {
			left: 100px;
		}
		@media screen and (min-width: $site-size) {
			width: 200%;
		}
	}
	&__bloc-3 {
		width: 50%;
		height: 170px;
		bottom: 0;
		left: -15px;
		@media screen and (min-width: $laptop-size) {
			left: 0;
			height: 60%;
		}
	}

	&__item-tierspayant {
		.services-iveos__text-container::before {
			@extend %shape-pattern-large;
			right: 0;
			top: -10%;
		}
	}

	&__item-conseil {
		@media screen and (min-width: $phone-size) {
			flex-direction: row-reverse;
		}
		@media screen and (min-width: $laptop-size) {
			align-items: flex-end;
			margin-top: -15rem;
			margin-bottom: 15rem;
		}
		.services-iveos__text-container::before {
			@extend %shape-pattern-small;
			left: 30px;
			top: -50px;
		}
	}

	&__item-informatique {
		@media screen and (min-width: $laptop-size) {
			align-items: center;
		}
		.services-iveos__text-container::before {
			@extend %shape-pattern-large;
			left: -100px;
			top: 0;
		}
	}
}

.testimonial-home {
	color: white;
	margin-bottom: 15rem;
	@media screen and (min-width: $tab-size) {
		padding: 0 30px;
		margin-bottom: 20rem;
	}

	&__list {
		@media screen and (min-width: $tab-size) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: start;
			column-gap: 45px;
		}
	}

	&__item {
		position: relative;
		padding: 40px 20px;
		border-radius: 20px;
		margin: 2rem 0;
		box-shadow: 0 10px 30px rgba(5, 102, 141, 0.3);
		transition: 0.3s;
		@media screen and (min-width: $phone-size) {
			padding: 40px 10%;
		}
		@media screen and (min-width: $laptop-size) {
			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 20px 35px rgba(5, 102, 141, 0.3);
			}
		}
	}

	&__item:nth-child(1) {
		background-color: $iveos-green-3;
	}
	&__item:nth-child(2) {
		background-color: $iveos-green-2;
	}
	&__item:nth-child(3) {
		background-color: $iveos-green;
	}

	&__excerpt {
		font-size: 2rem;
		font-weight: $weight-bold;
		@media screen and (min-width: $phone-size) {
			font-size: 2.5rem;
		}
		@media screen and (min-width: $laptop-size) {
			pointer-events: none;
		}
	}

	&__auteur {
		font-size: 2rem;
		font-weight: $weight-bold;
		margin: 3rem 0 0;
		@media screen and (min-width: $laptop-size) {
			pointer-events: none;
		}
	}

	&__lieu {
		font-size: 1.6rem;
		@media screen and (min-width: $laptop-size) {
			pointer-events: none;
		}
	}
	&__full-wrap {
		display: none;
		@media screen and (min-width: $laptop-size) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 100%;
			left: 0;
			z-index: 15;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: transform 0.9s cubic-bezier(0.4, 0, 0, 1);

			.btn-close {
				position: absolute;
				top: 50px;
				left: calc(50% - 45px);
				z-index: 16;
			}

			&.active {
				transform: translateY(-100%);
			}
		}
	}
	&__full-textcontainer {
		padding: 150px 30px;
		max-width: 1100px;
		margin: 0 auto;
		transition: 0.9s 0.5s;
		opacity: 0;
		transform: translateY(100px);
		&.active {
			opacity: 1;
			transform: translateY(0);
		}
		@media screen and (min-width: $laptop-size) {
			padding: 0 60px;
		}
	}
	&__full.text-courant {
		font-size: 1.4vw;
		@media screen and (min-width: $site-size) {
			font-size: 2.5rem;
		}
	}
}
